<!DOCTYPE html>
<meta charset="utf-8" />
<html>

<head>
    <title>Panel</title>
    <link rel="stylesheet" type="text/css" href="panel.css">
    <link rel="stylesheet" href="/assets/css/roboto_icons.css">
    <!-- Vue -->
    <script type="text/javascript" charset="utf-8" src="../../library/external/vue/vue.js"></script>
    <!-- Vue material-->
    <link rel="stylesheet" href="../../library/external/vue-material/dist/vue-material.css">
    <link rel="stylesheet" href="../../library/external/vue-material/dist/theme/default-dark.css">
    <script type="text/javascript" charset="utf-8"
        src="../../library/external/vue-material/dist/vue-material.js"></script>
    <!-- Monaco editor -->
    <link rel="stylesheet" data-name="vs/editor/editor.main"
        href="../../library/external/monaco-editor/min/vs/editor/editor.main.css">
    <script type="text/javascript" charset="utf-8" src="../../library/external/monaco-editor/min/vs/loader.js"></script>
    <script type="text/javascript" charset="utf-8"
        src="../../library/external/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script type="text/javascript" charset="utf-8"
        src="../../library/external/monaco-editor/min/vs/editor/editor.main.js"></script>
    <!-- Libs -->
    <script type="text/javascript" charset="utf-8" src="../../library/modules/Storage.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../library/modules/Logger.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../library/modules/Clicker.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../library/modules/RequestListener.js"></script>
</head>

<body>
    <div id="app" class="root">

        <md-tabs md-alignment="centered md-primary">
            <md-tab id="tab-code" md-label="code" class="root">



                <div class="root vertical">
                    <md-toolbar id="toolbar">
                        <md-field>
                            <md-select v-model="script" name="script">
                                <md-option value="anime_365.js">anime_365.js</md-option>
                            </md-select>
                        </md-field>
                        <md-button v-if="!is_working" v-on:click="start" class="md-raised md-primary">
                            <md-icon id="menu_icon">play_arrow</md-icon>
                        </md-button>
                        <div v-if="is_working" class="md-title state_label">Working...</div>
                        <md-button v-on:click="reload">
                            Reload frame
                    </md-toolbar>
                    <div id="container" class="grow"></div>
                </div>



            </md-tab>
            <md-tab id="tab-output" md-label="output">
                <div class="pre-formatted">{{ output }}</div>
            </md-tab>
            <md-tab id="tab-logs" md-label="logs">
                <div class="pre-formatted">{{ logs }}</div>
            </md-tab>
        </md-tabs>


    </div>
    <script type="text/javascript" charset="utf-8" src="panel.js"></script>
</body>

</html>