.root, html, body {
    height: 100%;
    margin: 0;
}
.vertical{
    display:flex;
    flex-direction: column;
}
.grow{
    flex-grow: 1;
    overflow:hidden;
}
.md-field {
    max-width: 200px;
}
.state_label{
    margin-left: 10px;
    margin-right: 10px;
}